{% extends 'producao/base.html' %}

{% block title %}Pedido #{{ pedido.id }} - Componentes{% endblock %}

{% block extra_script %}
<script src="/user-media/js/pedido_form_popup.js"></script>
<script>
$(function() {
	$("table#sortPedidosTable").tablesorter({ sortList:[[0,0]] });
});
</script>
{% endblock %}

{% block content %}

<div class="actions">
	<input type="button" value="Voltar" class="btn" onclick="location.href='/pedidos/{{ pedido.id }}'" />
</div>

<div class="row">	

	<div class="span10 column">
		<h2>Componentes do Fornecedor</h2>
		
		{% if componentes_do_fornecedor %}
		<table class="zebra-striped" id="sortPedidosTable">	
			<thead>
				<tr>
					<th class="green header">Mestria<br />Part Number</th>
					<th class="blue header">Fabricante</th>
					<th class="green header">Fabricante<br />Part Number</th>
					<th class="blue header">Fornecedor<br />Part Number</th>
				</tr>
			</thead>
			<tbody>
				{% for cf in componentes_do_fornecedor %}
				<tr class="row_link">
					<td id="nome_componente">{{ cf }}</td>
					<td>{{ cf.fabricante }}</td>
					<td>{{ cf.fabricante_pn }}</td>
					<td>{{ cf.fornecedor_pn }}</td>
					<td id="id_componente">{{ cf.id }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<p>N&atilde;o h&aacute; componentes desse fornecedor</p>
		{% endif %}
	</div>
	
	<div class="span10 column">
		<h2>Componentes do Pedido #{{ pedido.id }}</h2>
		
		{% if componentes_do_pedido %}
		<table class="zebra-striped" id="sortPedidosTable">	
			<thead>
				<tr>
					<th class="green header">Mestria<br /> Part Number</th>
					<th class="blue header">Fornecedor<br />Part Number</th>
					<th class="blue header">Qntd.</th>
					<th class="green header">Valor Unit.</th>
					<th class="red header">Total</th>
				</tr>
			</thead>
			<tbody>
				{% for cp in componentes_do_pedido %}
				<tr id="teste" class="row_link_cp" rel="popover" data-content="Teste" data-original-title="Titulo">
				<script>
				    $(function () {
				      $("#teste[rel=popover]")
				        .popover({
				          offset: 10
				        })
				        .click(function(e) {
				          e.preventDefault()
				        })
				    })
				</script>
					<td id="nome_componente">{{ cp.componente }}</td>
					<td id="forn_pn">{{ cp.componente.fornecedor_pn }}</td>
					<td id="cp_qntd">{{ cp.quantidade }}</td>
					<td id="cp_valor">R$ {{ cp.valor }}</td>
					<td id="cp_valor_total">R$ {{ cp.total }}</td>
					<td id="cp_id">{{ cp.id }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<script>
            $(function () {
              $("tr[rel=popover]")
                .popover({
                  offset: 10
                })
                .click(function(e) {
                  e.preventDefault()
                })
            })
        </script>

		<table class="zebra-striped" style="font-size:16px; width:300px;">
			<tr>
				<td><b>Quantidade de itens</b></td><td style="text-align:center;">{{ total_qnt_componentes}}</td>
			</tr>
			<tr>
				<td><b>Valor Total</b></td><td style="text-align:center;">R$ {{ total_valor_componentes}}</td>
			</tr>
			<tr>
				<td><b>Lead Time esperado</b></td><td style="text-align:center;">{{ lead_time }}</td>
			</tr>
		</table>
		{% else %}
			<p>N&atilde;o h&aacute; componentes nesse pedido.</p>
		{% endif %}
	</div>

</div>

{% if editavel %}
<div id="form_popup">
	<h3>Teste</h3>
	<form action="" method="post" onsubmit="return false">
		<div class="clearfix">
			<label for="quantidade">Quantidade</label>
			<div class="input">
				<input id="quantidade" type="text" name="quantidade" value="" />
			</div>
		</div>
		<div class="clearfix">
			<label for="valor">Valor (R$)</label>
			<div class="input">
				<input id="valor" type="text" name="valor" value="" />
			</div>
		</div>
		<input type="hidden" name="pedido_id" id="pedido_id" value="{{ pedido.id }}" />
		<input type="hidden" name="comp_id" id="comp_id" value="" />
		<div class="actions">
			<input type="submit" id="submit" value="Salvar" class="btn primary" />
			<input type="submit" id="submit2" value="Salvar" class="btn primary" />
			<!--input type="button" id="recebe_comp" class="btn success" value="Receber" /-->
			<input type="button" id="exclui_comp" class="btn danger" value="Excluir" />
			<input type="button" id="form_popup_close" class="btn" value="Fechar" />
		</div>
	</form>
	<span id="form_error"></span>
</div>
{% endif %}

{% endblock content %}
